extends ../assets/templates/base

block head
  title Authentication required
  meta( charset='utf-8' )
  meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
  meta( name='viewport', content='width=device-width, initial-scale=1.0' )

  style.
    body {
      background: #E9ECEF;
      color: #495057;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, 
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      margin: 0;
      padding: 0 16px;
    }
    * {
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      color: #495057;
    }
    .lock {
      margin: 32px auto 0 auto;
      width: 160px;
      height: 160px;
    }
    .login-block {
      max-width: 360px;
      margin: -48px auto 32px auto;
      text-align: center;
      background: #fff;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0 4px 8px #CED4DA;
    }
    h1 {
      font-size: 28px;
      font-weight: 300;
      margin: 40px 0 16px 0;
      color: #ADB5BD;
    }
    p {
      line-height: 24px;
      margin: 16px 0 24px 0;
    }
    .authenticate-button {
      width: auto;
      display: block;
      font-weight: bold;
      line-height: 24px;
      padding: 12px 24px 12px 48px;
      border-radius: 4px;
      color: #ffffff;
      background: #4285F4 12px center no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path fill="#ffffff" d="M23.52 12.273c0-.85-.076-1.67-.218-2.455H12v4.642 h6.458c-.278 1.5-1.123 2.77-2.394 3.622v3.01h3.878c2.27-2.088 3.578-5.165 3.578-8.82z"/><path fill="#ffffff" d="M12 24c3.24 0 5.956-1.075 7.942-2.907l-3.878-3.01c-1.075.72-2.45 1.144-4.064 1.144-3.125 0-5.77-2.11-6.715-4.947h-4.01v3.11C3.252 21.31 7.31 24 12 24z"/><path fill="#ffffff" d="M5.285 14.28 c-.24-.72-.376-1.49-.376-2.28 0-.79.135-1.56.375-2.28V6.61h-4.01C.466 8.23 0 10.065 0 12c0 1.936.464 3.77 1.276 5.39l4.01-3.11z"/><path fill="#ffffff" d="M12 4.773c1.762 0 3.344.605 4.587 1.794l3.442-3.442 C17.95 1.19 15.234 0 12 0 7.31 0 3.25 2.69 1.276 6.61l4.01 3.11C6.228 6.884 8.875 4.773 12 4.773z"/></g></svg>');
    }


block body
  .lock.
    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path id="b" d="M42 71V55c0-20.987 17.013-38 38-38s38 17.013 38 38v16h6c2.21 0 4 1.79 4 4v64c0 2.21-1.79 4-4 4H36c-2.21 0-4-1.79-4-4V75c0-2.21 1.79-4 4-4h6zm12 0h52V55c0-14.36-11.64-26-26-26S54 40.64 54 55v16z"/>
        <filter id="a" width="129.2%" height="122.2%" x="-14.6%" y="-7.9%" filterUnits="objectBoundingBox">
          <feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter1"/>
          <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
          <feColorMatrix values="0 0 0 0 0.525490196 0 0 0 0 0.556862745 0 0 0 0 0.588235294 0 0 0 0.40455163 0" in="shadowBlurOuter1"/>
        </filter>
        <linearGradient id="c" x1="50%" x2="50%" y1="50%" y2="100%">
          <stop stop-color="#E9ECEF" offset="0%"/>
          <stop stop-color="#CED4DA" offset="100%"/>
        </linearGradient>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <path d="M0 0h160v160H0z"/>
        <use fill="#000" filter="url(#a)" xlink:href="#b"/>
        <use fill="#CED4DA" xlink:href="#b"/>
        <rect width="96" height="72" x="32" y="71" fill="#CED4DA" rx="4"/>
        <path fill="url(#c)" fill-rule="nonzero" stroke="#ADB5BD" stroke-width="2" d="M118 71V55c0-20.987-17.013-38-38-38S42 34.013 42 55v16h12V55c0-14.36 11.64-26 26-26s26 11.64 26 26v16h12z"/>
        <path fill="#DEE2E6" d="M42 81h38v4H42c-1.105 0-2-.895-2-2s.895-2 2-2zM42 93h38v4H42c-1.105 0-2-.895-2-2s.895-2 2-2zM42 105h38v4H42c-1.105 0-2-.895-2-2s.895-2 2-2zM42 117h38v4H42c-1.105 0-2-.895-2-2s.895-2 2-2zM42 129h38v4H42c-1.105 0-2-.895-2-2s.895-2 2-2z"/>
        <path fill="#ADB5BD" d="M80 71h44c2.21 0 4 1.79 4 4v64c0 2.21-1.79 4-4 4H80V71z"/>
        <path fill="#CED4DA" d="M80 81h38c1.105 0 2 .895 2 2s-.895 2-2 2H80v-4zM80 93h38c1.105 0 2 .895 2 2s-.895 2-2 2H80v-4zM80 105h38c1.105 0 2 .895 2 2s-.895 2-2 2H80v-4zM80 117h38c1.105 0 2 .895 2 2s-.895 2-2 2H80v-4zM80 129h38c1.105 0 2 .895 2 2s-.895 2-2 2H80v-4z"/>
        <rect width="96" height="72" x="32" y="71" stroke="#ADB5BD" stroke-width="2" rx="4"/>
        <path fill="#868E96" stroke="#CED4DA" stroke-width="2" d="M76.813 106.48C72.853 105.15 70 101.41 70 97c0-5.523 4.477-10 10-10s10 4.477 10 10c0 4.408-2.853 8.15-6.813 9.48L87 125H73l3.813-18.52z"/>
      </g>
    </svg>

  .login-block
    h1 Authentication required

    p The page you are trying to access requires authentication with allowed email domain. Please login with your Google account to authenticate.

    a.authenticate-button( href="/authenticate/google" ) Login with Google Account