extends ../assets/templates/base

block content
  h1 Successfully Authenticated
  p This is just an example content. Modify <code>source/content/index.pug</code> to change it. For more details, check out project README.